<app-header></app-header>
<div id="summary" class="full">
  <div id = "flex-container">
  <div class="flex-item">
    <h2>Rate of Return</h2>
    <app-pie-chart></app-pie-chart>
  </div>
  <div class="flex-item">
    <h2>Inventory Turnover</h2>
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="flex-item">
    <h2>Inventory Days of Supply</h2>
    <app-line-chart></app-line-chart>
  </div>
</div>
<div class="" id="flex-container">
  <div class="flex-item">
    <h2>Website Traffic / Foot Traffic</h2>
    <app-mixed-chart></app-mixed-chart>
  </div>
  <div class="flex-item">
    <h2>Carrying Cost of Inventory</h2>
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div class="flex-item">
    <h2>Inventory to sales ratio</h2>
    <app-invent-sales-chart></app-invent-sales-chart>
  </div>

</div>

<app-footer></app-footer>
